

.slide_show{
    width: 100%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

.slide_show input{
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    background-color: #01c4a6 ;
     border: 1px solid  white;
    border-radius: 5px;
    text-align: center;
   
}
.slide_show input:hover{
    background-color: #01c4a6;
    color: white;
    box-shadow: 3px 3px 10px  #f3d5f7 ;
}
#img1{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}